*{
    margin: 0;
    padding: 0;
    font-family: 'Raleway', sans-serif;
}
body{
    background-color: white;

}

 #logo, .logoo{
    text-align: center;
    background-color:#343A40;
    padding-top: 5px;
    padding-bottom: 5px;
} 
#hempresarial{
    font-size: 12px;
    font-weight:lighter;
    background-color: #FFC107;
    width: 100px;
    border: 2px solid #FFC107;
    border-radius: 3px;
    padding: 9px 0;
    margin: 0 auto 0 auto;
} 
.hempresariall{
    color: white;
    font-size: 13px;
    margin-top: 10px;
    margin-bottom: 10px;
}

#encabezadoPrincipal{
    padding-bottom: 20px;
    padding-top: 20px;
    font-weight:lighter;
    background-color: #FFC107;
    text-align: center;
}

#epheader{
    font-size: 30px;
}

#boton{
    color: #FFC107;
    background-color: #343A40;
    border: 0;
    font-size: 12px;
    font-weight: bold;
    border-radius: 3px;
    padding: 7px 3px;
    margin-top: 8px;
}

#articulo1, #articulo2, #articulo3{
    background-color: white;
    padding-top: 26px;
}
#img1,#img2,#img3{
    padding-top: 26px;
    width: 100%;
}


@media(min-width: 500px) and (max-width: 760px){
    #articulo1, #articulo2{
        width: 48%;
        float: left;
    }
    #articulo1{
        padding-right: 10px;
    }
     #articulo2{
        padding-left: 10px;
    } 

     header{
        overflow: auto;
    } 

    /* slider{
        clear: both;
    } */
}

 @media(min-width: 760px){
    #articulo1, #articulo2, #articulo3{
        width: 31.8889%;
        float: left;
    }
    #articulo1{
        padding-right: 10px;
    }
     #articulo2{
        padding-left: 10px;
        padding-right: 10px;
    }
    #articulo3{
        padding-left: 10px;
    }
 
    header{
        overflow: auto;
    } 
} 