#p01, #p21{
    border-right: black solid 3px;
    border-left: black solid 3px;
    
}

#p10,#p12{
    border-top: black solid 3px;
    border-bottom: black solid 3px;
    height: 200px;
    width: 200px;
    margin: 0px auto;
}

#p11{
    background-color: white;
    color:black;
    /*border-color: darkblue;
    border-style: solid;
    border-width: 20px;*/
    border: black solid 3px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    height: 200px;
    width: 200px;
    margin: 0px auto;
}

#tabla{
    background-color: white;
    color:black;
    /*border-color: darkblue;
    border-style: solid;
    border-width: 20px;*/
    
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    width: 700px;
    margin: 0px auto;
}

td{
    background-color: white;
    color:black;
    height: 200px;
    width: 100px;
    padding-left: 10px;
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
}